body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:513px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:738px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:9px;
  width:415px;
  height:738px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:361px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:51px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:693px;
  width:409px;
  height:51px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:54px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:693px;
  width:409px;
  height:54px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
