body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:521px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:741px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:11px;
  width:439px;
  height:741px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:50px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:703px;
  width:204px;
  height:50px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:50px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:703px;
  width:204px;
  height:50px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:45px;
  width:10px;
  height:18px;
  color:#FFFFFF;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
