body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:517px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:738px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:13px;
  width:417px;
  height:738px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:361px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:111px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:555px;
  width:127px;
  height:111px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:111px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:555px;
  width:127px;
  height:111px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:111px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:555px;
  width:127px;
  height:111px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:695px;
  width:62px;
  height:56px;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:695px;
  width:62px;
  height:56px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:695px;
  width:62px;
  height:56px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
