body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:741px;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:439px;
  height:741px;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:402px;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:67px;
  width:300px;
  height:402px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:21px;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:662px;
  width:300px;
  height:21px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FF0000;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
