body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:519px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:740px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:9px;
  width:420px;
  height:740px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:72px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:85px;
  width:123px;
  height:72px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:695px;
  width:62px;
  height:56px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:695px;
  width:62px;
  height:56px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:695px;
  width:62px;
  height:56px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:241px;
  width:394px;
  height:56px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:175px;
  width:394px;
  height:56px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
