body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:812px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:710px;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:11px;
  width:399px;
  height:710px;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:347px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:151px;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:112px;
  width:393px;
  height:151px;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:68px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:122px;
  width:271px;
  height:90px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u1833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:284px;
  width:271px;
  height:90px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u1835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:444px;
  width:271px;
  height:90px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u1837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:602px;
  width:271px;
  height:90px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
