body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:515px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:731px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:8px;
  width:414px;
  height:731px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:358px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:463px;
  width:56px;
  height:32px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
