body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:511px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:736px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:8px;
  width:413px;
  height:736px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:43px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:143px;
  width:149px;
  height:43px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:43px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:143px;
  width:149px;
  height:43px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:43px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:192px;
  width:149px;
  height:43px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:695px;
  width:62px;
  height:56px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:695px;
  width:62px;
  height:56px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:695px;
  width:62px;
  height:56px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
