body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:511px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:802px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:461px;
  height:802px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:393px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
