body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:498px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:710px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:11px;
  width:399px;
  height:710px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:347px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:151px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:112px;
  width:393px;
  height:151px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:68px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
