body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:907px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:188px;
  width:334px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:753px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:0px;
  width:423px;
  height:753px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:368px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:194px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:128px;
  width:415px;
  height:194px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:89px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:68px;
  height:31px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:211px;
  width:53px;
  height:5px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
