body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:515px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:736px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:7px;
  width:416px;
  height:736px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:32px;
  width:67px;
  height:30px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:42px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:742px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:72px;
  width:416px;
  height:742px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:363px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
