body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:435px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:685px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:385px;
  height:685px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:334px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:123px;
  width:20px;
  height:18px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:165px;
  width:20px;
  height:18px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
