body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:688px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:937px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:11px;
  width:433px;
  height:937px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:460px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:75px;
  width:17px;
  height:25px;
  color:#FFFFFF;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:833px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:121px;
  width:422px;
  height:833px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:408px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:57px;
  height:19px;
}
#u421p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:52px;
  height:4px;
}
#u421p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:54px;
  height:6px;
}
#u421p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:2px;
}
#u421p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u421p002 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-10px;
  width:20px;
  height:20px;
}
#u421p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:22px;
  height:20px;
}
#u421.compound {
  width:0px;
  height:0px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:444px;
  width:48px;
  height:1px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:436px;
  width:109px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
