body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:514px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:735px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:9px;
  width:415px;
  height:735px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:112px;
  width:409px;
  height:40px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:155px;
  width:409px;
  height:40px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
