body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:758px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:735px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:0px;
  width:421px;
  height:735px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:1065px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:63px;
  width:263px;
  height:1065px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
