body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:515px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:737px;
}
#u1734 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:9px;
  width:414px;
  height:737px;
}
#u1735 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1736 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:143px;
  width:405px;
  height:46px;
}
#u1737 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
