body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:511px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:736px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:8px;
  width:413px;
  height:736px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:43px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:143px;
  width:149px;
  height:43px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:43px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:143px;
  width:149px;
  height:43px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:43px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:192px;
  width:149px;
  height:43px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:695px;
  width:62px;
  height:56px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:695px;
  width:62px;
  height:56px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:695px;
  width:62px;
  height:56px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
