body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:817px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:735px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:8px;
  width:421px;
  height:735px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:48px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:695px;
  width:421px;
  height:48px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:766px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STSongti-SC-Regular', 'Songti SC';
  font-style:normal;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:44px;
  width:241px;
  height:766px;
  font-family:'STSongti-SC-Regular', 'Songti SC';
  font-style:normal;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
