body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:623px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:350px;
  height:623px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:304px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:111px;
  width:20px;
  height:18px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:150px;
  width:20px;
  height:18px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
