body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1828px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1729px;
  height:757px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:0px;
  width:1729px;
  height:757px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:370px;
  width:1725px;
  visibility:hidden;
  word-wrap:break-word;
}
