body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:511px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:730px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:15px;
  width:410px;
  height:730px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:357px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:693px;
  width:410px;
  height:52px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:61px;
  width:10px;
  height:18px;
  color:#FFFFFF;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
